<footer class="site-footer py-5">
  <div class="container text-center">
    <ul class="social-media-list list-inline">
      <li class="list-inline-item footer-icon">
        <a
          href="https://github.com/{{ site.github_username }}"
          title="{{ site.github_username }} on GitHub"
        >
          {% include icon-github.html %}
          <span class="visually-hidden"
            >{{ site.github_username }} on GitHub</span
          >
        </a>
      </li>
    </ul>
    <p>©{{ 'now' | date: "%Y" }} Nick Frasser</p>
  </div>
</footer>
